

<main
	class='w-full [grid-area:main] bg-background rounded-md relative overflow-y-auto z-0 '
>

	<slot />
</main>

<style is:inline>
	main::-webkit-scrollbar{
		opacity: 0;
		width: 0px;
	}
</style>