---
import Box from './UI/Box.tsx'
import SidebarItem from './Sidebar/SidebarItem.astro'
import { Trending, Home, Library } from '@icons/index'
import SideOption from './Sidebar/SideOption.astro'

import { playlists } from '../data/playlists.ts'
---

<aside class='[grid-area:sidebar] flex flex-col gap-2 overflow-hidden'>
	<Box
		className='h-32 rounded-md py-5 flex flex-col justify-center gap-5 px-4'
	>
		<a href='/'>
			<SideOption>
				<Home /> Inicio
			</SideOption></a
		>
		<a href='/trending
		'
			><SideOption>
				<Trending /> Trending
			</SideOption></a
		>
	</Box>

	<Box className='h-full rounded-md flex flex-col overflow-hidden'>
		<SideOption>
			<Library /> Tu biblioteca
		</SideOption>
		<section class='my-4'>
			{playlists.map((playlist) => <SidebarItem {...playlist} />)}
		</section>
	</Box>
</aside>
