---
import { Hearth } from '@icons/index'
---

<div class='w-full h-10 py-5'>
	<div
		class='flex gap-2 items-center text-foreground text-xs justify-center opacity-50'
	>
		<span>Made with</span>
		<Hearth className='fill-foreground w-3 h-3 ' />
		<span>by Chust3r</span>
	</div>
</div>
