---
import type{ Songs } from 'src/types/types';
import SongTable from "@components/UI/SongTable"

interface Props {
	songs: Songs
	playlist:string
}

const { songs,playlist } = Astro.props
---

<table class='w-full border-separate border-spacing-y-1 rounded'>
	<thead class='text-sm text-foreground font-normal'>
		<tr>
			<th class='w-11'>#</th>
			<th class='w-[500px] text-left font-normal'>Título</th>
			<th class='w-80 text-left font-normal hidden lg:block'> Álbum</th>
			<th class='w-20 text-center font-normal'>Duración</th>
		</tr>
	</thead>
	<tbody class='text-foreground'>
		{
			songs.map((song, i) => (
				<SongTable {...song} index={i} playlist={playlist}/>
			))
		}
	</tbody>
</table>
